<div class="hero-unit">

<small>
  <%= image_tag("PlanWeb.jpg") %>
</small>

<br/>

<h1>About PlanWeb</h1>

<br/>
<br/>
<div id="ceo">
  <%= image_tag("philipbreslin.jpg") %>
<h2>Philip Breslin, CEO PlanWeb</h2>
<br/>
</div>

<h2><b>Short Profile of Philip Breslin, CEO, PlanWeb</b></h2>
<br/>

<ul>
  <h2>
    <li>Born 1977</li>
    <br/>
    <li>Graduated with N. C. in Construction Studies at Athlone I.T. in 1997</li>
    <br/>
    <li>Architectural Technician, NDBA Architects, Dublin 2 - 2000-2011</li>
    <br/>
    <li>Architectural Technician, Roddy Mannion Associates, Galway - 1999-2000</li>
    <br/>
    <li>Graduated with B.Sc. Const. Architectural Technology at Carlow I.T. in 2006</li>
    <br/>
    <li>Architectural Technician, NDBA Architects, Dublin 2 - 2000-2011</li>
    <br/>
    <li>Currently undertaking a H.Dip in Web Technologies at National College of Ireland, Dublin 1</li>
  </h2>
</ul>
</div>



