<div class="hero-unit">

  <small>
    <%= image_tag("PlanWeb.jpg") %>
  </small>

  <br/>

<h1>Contact Us</h1>
<br/>
<small>
  <%= image_tag("fairviewmap.jpg") %>
</small>

<br/>
<br/>
<h2>

We are currently looking for offices in and around
<br/>
<br/>

<div id="ceo">
  <%= image_tag("fairview.jpg") %>
</div>

<br/>

the Fairview, Dublin 3 area, as circled and shaded above
<br/>
<br/>
Until then, contact us on:
<br/>
<br/>
<b>t: 087 7972085 | e: philipbreslin@hotmail.com | www.planweb.com</b>
</h2>
</div>