<div class="hero-unit">

  <small>
    <%= image_tag("PlanWeb.jpg") %>
  </small>


  <h1>Welcome to PlanWeb</h1>

  <br/>

  <h2>PlanWeb is in existence since February 2013. This company serves two purposes:</h2>
  <br/>

  <ul>
    <li>The Preparation of Planning Applications</li>
    <li>Web Design</li>
  </ul>

  <br/>

  <h2>The Planning Aspect</h2>

  <br/>

  <ul>

      <li>Consultation</li>
      <li>Site survey</li>
      <li>Preparation of Drawings based on Site Survey</li>
      <li>Preparation of Proposed Drawings following consultation</li>
      <li>Follow-Up meeting with clients &amp the design team</li>
      <li>Preparation of Drawings and documentation for Planning Application Submission</li>
      <li>Planning Application Submission</li>
      <li>On 5 weeks, Observations period up, Remove Site notice(s)</li>
      <li>On 8 weeks, Planning Decision</li>
      <li>On 12/13 weeks, Final Grant, if all goes smoothly to date!!</li>
      <li>On 14/16 weeks, Issue Commencement Notice to start works</li>
      <li>Recommendations on Fire Safety Consultants should you require a Fire Safety Certificate</li>
      <li>Likewise for Disability Access Certificates</li>

  </ul>

  <br/>


  <h2>The Web Design Aspect</h2>
  <br/>

  <ul>

      <li>Consultation</li>
      <li>Preparation of Prototype</li>
      <li>Follow-Up meeting with clients</li>
      <li>Amendments to Website based on Follow-Up Meeting</li>
      <li>Follow-Up meeting with clients</li>
      <li>Approval to 'go live' following further tweaking</li>
      <li>Website Updates aftercare service</li>

  </ul>
</div>





