<div class="hero-unit">

<small>
  <%= image_tag("PlanWeb.jpg") %>
</small>

<br/>

<h1>How to make a valid Planning Application in accordance with the Planning & Development Regulations 2001</h1>

<br/>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-arrow-down"></i>
        INTRODUCTION
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        To obtain planning permission, the applicant must make a planning application. Planning application
        forms and full details are available from the Planning Office. The applicant must complete the form
        and submit it together with all the necessary documentation and appropriate fee . Advice and guidance
        is available from the planning office to help applicants in making the application and, if necessary,
        they can contact the office before making an application to ensure that it is complete and that all
        documentation is attached and that all other requirements have been met.
        <br/>
        The planning system is open and transparent and everyone (individuals, residents associations, etc.)
        has the right to see an application lodged and to make submissions or observations either positively
        or negatively on it if they think it will affect them or their neighbourhood. Persons may also make
        submissions or observations on an application even if they are not directly affected but feel strongly
        about a particular issue and want to express an opinion.
        <br/>
        Submissions or observations should be addressed in writing to the Planning Office, quoting the reference
        number of the application. Submissions or observations must be made within 5 weeks of the date of receipt
        of the application and accompanied by a fee of € 20 and must include and name and correspondence address..
        <br/>
        Members of the public are entitled to view, free of charge, all documents submitted with a planning
        application, at the planning office during normal business hours, as soon as may be from the date of
        receipt of the application until the decision is made on it. From approximately two weeks after receipt
        of the application it is available for viewing on-line. Internal reports on an application prepared by or
        on behalf of the planning authority can be viewed after the planning decision has been made. Planning files
        are available for public inspection for up to 7 years after a decision has been made on the planning
        application.. Older files are available for inspection at a charge of € 10. The Planning Register and
        register map, which is a record of all planning applications, decisions, appeals, enforcement action etc.,
        is open to public inspection, free of charge, at the planning office and copies of entries in the register
        can be purchased for a fee (currently € 10).
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="icon-arrow-down"></i>
        A GUIDE TO MAKING A PLANNING APPLICATION
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Your planning authority is committed to the provision of a high quality service to its customer. As part of
        this process information needs to be provided that is clear, accurate and which meets the requirements of all
        of our customers.
        In order to assist the public in making a valid planning application that complies with the regulations, this
        guide contains information about applying for planning permission, and setting out clearly the information
        required on submitting a formal planning application.
        <br/>
        This Guide is intended as a Practical Guide. It is not a definitive legal interpretation of Planning Law. The
        Law governing the planning system is set out in the Planning & Development Act 2000, as amended and Planning
        & Development Regulation 2001, as amended and may be purchased from the Government Publications Sales office,
        Sun Alliance House, Molesworth Street, Dublin 2 Telephone (01) 6613111. Alternatively, extensive information
        on Planning law and Regulations can be accessed via the Department of the Environment Website. Please note
        that the law may be updated from time to time. The Planning & Development Act 2000, provides that planning
        permission is required for all development other than that exempted by statute and regulations. Leaflets on
        the Planning System are available in all planning authorities. The word Development is defined as "the carrying out of works on in
        over or under land or the making of any material change in the use of any structure or other land".
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree"><i class="icon-arrow-down"></i>
        TYPES OF PERMISSION
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        There are three types of Permission, namely, Outline Permission, Permission following Grant of Outline
        Permission and PERMISSION.
        <br/>
        Outline Permission: Where a person wants to initially find out if permission will be granted for a particular
        development, but is not in a position to submit the exact plans then outline permission is most suitable.
        The grant of Outline Permission states that the Planning Authority is in agreement in principle to the proposed
        development, subject to the submission of an application for "Permission following grant of outline permission"
        (Permission Consequent).
        <br/>
        Permission following grant of Outline Permission (Permission Consequent): This type of application follows the
        grant of an Outline Permission and must be submitted within 3 years of the grant of outline permission. It
        provides for the submission of detailed plans and drawings of the proposed development.
        <br/>
        Permission: This type of planning application provides for the submission of detailed plans and full
         particulars of the proposed development. A successful application in this case will enable the applicant to
        commence development if he or she is otherwise entitled to do so.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour"><i class="icon-arrow-down"></i>
        WHO CAN MAKE A PLANNING APPLICATION
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        To submit a formal planning application the applicant must have sufficient legal interest in the site or
        property in question.
        <br/>
        If you are not the owner, you should state the name and address of the owner.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive"><i class="icon-arrow-down"></i>
        TO OBTAIN PLANNING PERMISSION
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        To obtain planning permission you must make a planning application to the Planning Authority for the area where
        the proposed development is located. The planning application must be
        made in accordance with the strict parameters set out in the Planning Act and the Planning Regulations.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix"><i class="icon-arrow-down"></i>
        CHOOSING AN ARCHITECT/AGENT
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
        Very few people go through the whole planning process without availing of the services of an architect or agent
        at one stage or other. This may take the form of having someone act as your 'agent' and deal with your
        application in its entirety. In such cases all correspondence will issue to you at your agents address thus
        enabling them to deal with any problems that may arise.
        <br/>
        Alternatively, you may have someone prepare the plans/drawings for you and you will submit the application
        yourself.
        <br/>
        All of the necessary information to be submitted with any application should be included on the plans/drawings.
        It is essential that whoever you choose is familiar with the relevant Development Plan, Planning Regulations &
        Planning Law and who is also familiar with the specific requirements of the Council as regards traffic safety,
        public health, design standards, etc.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven"><i class="icon-arrow-down"></i>
        PLANNING ADVICE CENTRES
      </a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
        To facilitate the public, Planning authorities provide pre-planning advice appointments for planning
        applicants by prior appointments to meet the planning officer and discuss various matters about a proposed
        application. The Planning Authority actively encourages the use of this facility and it is free of charge.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight"><i class="icon-arrow-down"></i>
        PRE PLANNING ADVICE
      </a>
    </div>
    <div id="collapseEight" class="accordion-body collapse">
      <div class="accordion-inner">
        Persons interested in a particular site can avail of our free pre planning advice service by submitting to the
        Planning Authority a map with the site in question outlined in red together with any other relevant details
        and contact details.  They will then receive by post a pre-planning report and pre-planning reference number
        which must be given when making the pre planning appointment.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapseNine"><i class="icon-arrow-down"></i>
        CAN OTHER PEOPLE COMMENT ON A PLANNING APPLICATION
      </a>
    </div>
    <div id="collapseNine" class="accordion-body collapse">
      <div class="accordion-inner">
        Irish planning legislation gives very strong emphasis to third party rights. Consequently, the process of the
        planning application has three parties, the Planning Authority, the applicant and the general public. This is
        supported by the general right of any person to see a copy of your application and to make written submissions
        or observations to the Planning Authority and/or to appeal the Authority decision to An Bord Pleanala. (Under
        the Planning & Development Regulations 2001, submissions or observations must be made within the first five
        weeks of the planning application, and a fee of € 20 paid). In this process the Planning Authority must ensure
        that applications are fully documented and descriptive of the proposed development, so that the impact of
        proposals can be understood by all parties.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10" href="#collapseTen"><i class="icon-arrow-down"></i>
        HOW LONG WILL IT TAKE TO GET PLANNING PERMISSION
      </a>
    </div>
    <div id="collapseTen" class="accordion-body collapse">
      <div class="accordion-inner">
        The Planning Authority is obliged to make a decision on a valid planning application within 8 weeks of
        receiving it. If the initial documentation submitted is not correct it must be invalidated. When the Planning
        Authority issues a decision, there follows a period of 4 weeks, within which the applicant or a third party can
        appeal the decision to An Bord Pleanála. Where no appeal is lodged within the 4 week period the Planning
        Authority issues the "grant" of permission.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11" href="#collapseEleven"><i class="icon-arrow-down"></i>
        WHAT IS THE HOUSING STRATEGY
      </a>
    </div>
    <div id="collapseEleven" class="accordion-body collapse">
      <div class="accordion-inner">
        Housing Strategies have been prepared by all the planning authorities in accordance with Part V of the Planning
        and Development Act 2000, as amended, and has included a provision that up to 20% of residentially zoned land
        be provided for the provision of Social and Affordable Housing.
        <br/>
        Details of compliance with the requirements of the Act must be submitted with your application. If your
        proposal is is residentially zoned land, and is for less than 4 housing units or 0.1 hectares of land you are
        exempt, but you must have been granted or applied for a Certificate of Exemption from the Planning Authority
        before you make your planning application. If your proposal is for more than 4 houses or on an area greater
        than 0.1 hectares of land, particulars of an agreement on the provision of Social /Affordable Housing should be
        submitted with your application. This agreement should be made with the Housing Sections of planning
        authorities.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseTwelve"><i class="icon-arrow-down"></i>
        APPEALS TO AN BORD PLEANÁLA
      </a>
    </div>
    <div id="collapseTwelve" class="accordion-body collapse">
      <div class="accordion-inner">
        Where an applicant or a third party involved in a planning application is unhappy with the decision of the
        Planning Authority then this decision may be appealed to An Bord Pleanála, an independent appeals board (but
        only (a) where an initial submission/observation has been made to the planning authority in respect of the
        application or (b) by a person who has an interest in adjoining lands in respect of which a decision to grant
        permission has been made, who may apply to the Board for leave to appeal the decision). The appeal must be
        lodged with the Board within 4 weeks of the date of the making of the decision by the Planning Authority and
        addressed to The Secretary, An Bord Pleanála, 64 Marlborough St, Dublin 1. The complete grounds of appeal must
        be fully stated at the initial stage as further submissions are not acceptable. Further details can be obtained
        from An Bord Pleanála.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion13" href="#collapseThirteen"><i class="icon-arrow-down"></i>
        MAKING A VALID PLANNING APPLICATION
      </a>
    </div>
    <div id="collapseThirteen" class="accordion-body collapse">
      <div class="accordion-inner">
        In the process of making a valid planning application you must describe the proposed development for both the
        Planning Authority and the general public. This is done by:
        <br/>
        Completing the application form
        Submitting plans/drawings of the proposed development
        Supplying other relevant documentation (see the remainder of this document.)
        To ensure that your application is valid the detailed questions in the application form must be completed
        accurately and with the submission of the required information the Planning Authority will be in a position to
        process the planning application within the minimum time period allowed.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion14" href="#collapseFourteen"><i class="icon-arrow-down"></i>
        COMPLETION OF THE APPLICATION FORM
      </a>
    </div>
    <div id="collapseFourteen" class="accordion-body collapse">
      <div class="accordion-inner">
        The following information pertains to the details required for a formal planning application.
        PLEASE COMPLETE FORM IN BLOCK LETTERS OR TYPE.
        <br/>
        Permission Type
        It is important to indicate the type of planning permission being applied for.
        Applicant's Name, Address and Contact Details
        The applicant's forename and surname must be stated together with permanent address. A c/o address is not
        adequate.
        Address to which correspondence and notices are to be sent
        All correspondence and notices will be sent to this address, so it is important to give the exact details. Once
        submitted this address cannot be changed, except by submission of a new application.
        Nature and Extent of Development
        A clear description of type of development proposed is essential and its description must correspond with the
        public notice (site and newspaper). The correct location of the site must be given by indicating the townland
        or full postal
        address, e.g. Main Street, Mountbellew, Co. Galway.
        If Applicant is a Company
        The names of the company directors and the address and registration number of the Company must be given.
        Name & Address of Person acting on behalf of the Applicant
        Where an agent is employed, the Agents name, address & contact numbers should be stated.
        Interest in Land or Structure.
        The applicant must have sufficient legal interest in the site, the subject matter of the planning permission.
        If you are not the owner then you must have the consent of the owner to lodge the planning application.
        Name & Address of Owner
        If you are not the owner of the site, state the name & address of the owner
        Area of Land Space (in hectares)
        This must be clearly specified as it may have a bearing on the planning fee payable
        If application relates to a building or buildings, indicate
        Gross Floor Space of proposed new building
        State the number of dwellings (if applicable) proposed
        This question must be accurately answered as it may have a bearing on the planning fee payable.
        If application is for material change of use or for retention of material change of use, please
        Provide a statement of existing and proposed use.
        Compliance with Housing Strategy (Social & Affordable Housing)
        State if proposal is exempt, and if so attach Certificate of Exemption. If not exempt give details of prior
        agreement entered into with Housing and Planning Departments on provision of Social/Affordable Housing.
        Pre-Application Consultation
        Give date of consultation and reference number , if applicable
        Does development entail carrying out works to a protected or proposed protected structure or within an
        Architectural Conservation Area.
        This will have relevance with respect to the type of permission that you can apply for, the information which
        must be submitted with the application and the content of the newspaper and site notice.
        Does the development require an Integrated Pollution Control Licence or a Waste Licence
        This will have relevance with respect to the type of permission that you can apply for, the information which
        must be submitted with the application and the content of the newspaper and site notice.
        Does the Development require an Environmental Impact Statement
        This question relates to development which would have a major impact on the environment.
        Will proposed development be connected to a public water main, group water supply scheme or individual private
        supply. You must indicate here the source of water supply. Where the supply is taken from a Group Water Scheme,
        you must submit with the application the written consent of the Trustees of the Group Scheme to the taking of a
        connection from the Group. This written consent must specifically name the applicant. Where it is proposed to
        use a well or spring as the source of water supply, this should be indicated on site location map and wayleave
        agreements, where necessary, should be included with the application. It is advisable to have the water tested
        both for quality and quantity. A minimum of 200 gallons of water per day is the normal requirement for an
        ordinary domestic dwelling. A Water Quality Report based
        on a bacteriological/chemical examination should be submitted with the application. Generally, wells should be
        constructed in accordance with the standards laid down by the Geological Survey of Ireland.
        Will proposed development be connected to (a) public sewer or (b)private treatment system.
        .Details of sewerage disposal must be indicated.
        Is proposed development a replacement of substandard dwelling.
        Is proposed development a new farm house on your farm.
        Is proposed development an additional family dwelling on the family farm.
        Within the County, special development controls apply to amenity designated areas and major traffic routes.
        For the Planning Authority to consider a planning application for development in these areas the applicant must
        substantiate his/her claim for the proposed development and in this regard the criteria is set out in the
        County Development Plan.
        Newspaper Notice
        Give name of newspaper in which notice was inserted, and date of publication. Only certain newspapers are
        acceptable and these change periodically. Please refer to your Planning Authority's website
        for current list or obtain a current list from the Planning Department.
        Site Notice
        Give date Site Notice was erected on the site.
        The amount of fee Please indicate amount of fee included and how it was calculated
        Statutory Notices
        Give details of any statutory notices, where applicable.
        Signature of Applicant
        Only the applicant or agent authorised by the applicant may sign the application form
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion15" href="#collapseFifteen"><i class="icon-arrow-down"></i>
        DOCUMENTATION REQUIRED
      </a>
    </div>
    <div id="collapseFifteen" class="accordion-body collapse">
      <div class="accordion-inner">
        Together with the planning application form, the following documentation must be submitted with your
        application.
        <br/>
        <h3>1. FEE:</h3>
        Every planning application must be accompanied with a fee, unless the Planning Regulations specifically provide
        for exemption. The fees schedule sets out a scale of charges for thirteen classes of development which are
        outlined here.
        <br/>
        <h3>2. PUBLIC NOTICE</h3>
        It is a requirement of the Planning Regulations that a copy of the Site Notice and the relevant page of the
        approved newspaper notice be submitted with each planning application (in practice, to speed up the decision
        period, three of each are asked for). The site notice must be placed on the site for 5 weeks from the date of
        receipt of the planning application. If it becomes illegible or is removed, it must be replaced immediately as
        failure to do so will delay the processing of the planning application. Where a subsequent application is made
        within 6 months on the same or part of the same site, the site notice must be on a yellow background.
        <br/>
        <h3>3. SITE LOCATION MAP</h3>
        You must submit six copies of the site location map to a scale of not less than 1:1000 in built up areas and
        1:2500 in all other areas, and marked or coloured so as to identify clearly the land or structure to which the
        application relates and the boundaries thereon (subject site to be outlined in red, overall land holding to be
        outlined in blue).
        Site location map should be on Ordnance Survey map with the number of Ordnance Survey map clearly indicated
        thereon, together with the north point.
        <br/>
        <h3>4. SITE LAYOUT PLAN</h3>
        It is a requirement that six copies of site layout plan be submitted, drawn to a scale of not less than 1:500.
        The site boundary should be clearly marked in colour and the plan should show buildings, boundaries septic
        tanks and percolation areas, bored wells and other features in the vicinity of the land or structure to which
        the application relates. In this regard all such features within 100m of the proposed development should be
        indicated. The position of the site notice should also be shown.
        <br/>
        <h3>5. OTHER PLANS/DRAWINGS</h3>
        Except in the case of an application for Outline Permission, six copies of detailed structural drawings of
        floor plans, elevations and sections and such other particulars as are necessary to describe the works or
        structure to which the
        application relates, must also be submitted. These must be drawn to a scale of not less than 1:200.
        Drawings of elevations of any proposed structure shall show the main features of any buildings which would be
        contiguous to the proposed structure if it were erected.
        Plans relating to works comprising, reconstruction, alteration or extension of a structure shall be so marked
        or coloured as to distinguish between the existing structure and the works proposed.
        Plans and drawings of floor plans, elevations and sections shall indicate in figures the principal dimensions
        (including overall height) of any proposed structure and the distances of any such structure from the
        boundaries of the site.
        <br/>

        <h3>6. PLANS GENERALLY</h3>
        Original ordnance survey sheets must be submitted (except where a licence has been issued by the Ordnance
        Survey Office to the agent).

        Any map or plan which is based on an Ordnance Survey map must indicate the relevant Ordnance Survey sheet
        number. The north point must be indicated on all maps and plans, other than drawings of floor plans, elevations
        and sections.
        Plans and drawings must indicate the full name and address of the person who prepared them.
        Plans and drawings of floor plans, elevations and sections shall indicate in figures the principal dimensions
        (including overall height) of any proposed structure and the distances of any such structure from the
        boundaries of the site.
        <br/>

        <h3>7. DOMESTIC EFFLUENT/WASTE DISPOSAL</h3>
        Where effluent disposal is by means a of septic tank, applicants must submit a completed EPA Wastewater
        Treatment Site Characterisation Report(Acrobat document). This result document must be certified by a competent
        technical agent.
        Where there is a proposal to use other means of disposal, full and detailed particulars must be submitted with
        the planning application.
        <br/>
        <h3>8. AREAS OF AMENITY</h3>
        Within the county there are areas designated to be of amenity value. To protect such areas the County Council
        imposes planning restrictions. The nature of these restrictions and the areas concerned are outlined in the
        County Development Plan and it is advisable to consult the plan prior to the submission of a planning
        application.
        <br/>
        <h3>9. HOUSE DESIGN</h3>
        When considering Site and location for a dwelling you should take particular care that it will be compatible
        and sympathetic to the adjoining landscape and other houses in the locality. This applies especially to roof
        type, windows, brick type, porches, etc. Traditional designs are recommended and it may be useful to take
        advice from a professional architect in this regard. Teagasc Office and the Farm Development Service (F.D.S.)
        of the Department of Agriculture, Food and Rural Development.
        <br/>
        <h3>10. SURFACE WATER RUN OFF</h3>
        Plans should indicate proposals for collection and disposal of surface water run off from the site and the
        provision of channels, kerbs or grids for run off from the proposed development. In major developments,
        estimates of storm run off and assessment of the capacity of the receiving drain to accommodate same should be
        submitted.
        <br/>
        <h3>11. APPLICATIONS BY COMPANIES</h3>
        Where the application is made by a Company, the names of the Company Directors and the address and registration
        number of the Company must be given.
        <br/>
        <h3>12. CAR PARKING</h3>
        in the case of commercial developments, shops etc. details of car parking facilities should be shown on the
        site layout plan.
        <br/>
        <h3>13. FARM DEVELOPMENT</h3>
        Where proposals relate to the construction or change of use of buildings for the housing of animals or for the
        erection of silage pits or feeding yards, the following information should be submitted.

        the number and type of animals to be housed.
        size of slurry tank (if any) existing/proposed.
        proposals for collection and disposal of both soiled and cleaned waters.
        proposals for disposal of slurry or dung, together with details of area of land available for spreading of such
        effluent.
        total area of overall landholding should also be given.
        Advice on farm development generally is available from your local
        <br/>
        <h2>IMPORTANT NOTE:</h2>
        It should be noted that the documentation lodged with a valid planning application is retained on file.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseSixteen"><i class="icon-arrow-down"></i>
        SIGNIFICANT FURTHER INFORMATION
      </a>
    </div>
    <div id="collapseSixteen" class="accordion-body collapse">
      <div class="accordion-inner">
        When applicants respond to a Further Information Request the reply may be considered to contain Significant
        Further Information.  If this has not been specifically stated in the Further Information Request then
        applicants will be
        informed by the Planning Authority in due course if the reply is considered to contain Significant Further.
        Where it is the opinion of the Planning Authority that the reply contains Significant Further Information then
        the provisions of Article 35 of the Planning and Development Regulations 2001 to 2008 will apply and the
        relevant newspaper notice
        and site notice must be provided.  It is preferable to the Planning Authority if the newspaper advert is
        published and site notice erected the same day as the reply is submitted.
        <br/>
        Significant Further Information Newspaper Notice
        <br/>
        Significant Further Information Site Notice
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion17" href="#collapseSeventeen"><i class="icon-arrow-down"></i>
        SITE REQUIREMENTS FOR RURAL AREAS
      </a>
    </div>
    <div id="collapseSeventeen" class="accordion-body collapse">
      <div class="accordion-inner">
        The following standards contained in the County Development Plan will apply to all rural sites.
        <br/>
        <h3>DCSTANDARD 3: SIGHT DISTANCES REQUIRED FOR ACCESS ONTO NATIONAL AND REGIONAL ROADS.</h3>
        New access points shall be subject to the Vehicular Access To All- Purpose National Roads Standards TD 41/95
        requirements. Some of the main distances are summarised below. INSERT TABLE HERE FROM PAGE 75 CDP INSERT
        DIAGRAM HERE
        FROM PAGE 7
        <br/>
        <h3>TABLE 11.1: Y -DISTANCE (M) AND FORWARD SIGHT DISTANCE IN METRES</h3>
        <h3>DCSTANDARD 4: SIGHT DISTANCES REQUIRED FOR ACCESS ONTO LOCAL ROADS.</h3>
        Visibility splays for local roads will be determined on a site-specific basis subject to traffic safety.
        <br/>
        <h3>DCSTANDARD 6: PARKING BAYS.</h3>
        Where residential developments are required to provide a parking bay adjoining a proposed boundary wall
        realignment, the Council will require the parking bay to be at least 15 x 3 metres although this may be relaxed
        where site size and dimensions preclude its provision and adequate on-site parking can be provided with safe
        access.
        <br/>
        <h3>DCSTANDARD 8: BUILDING CONTROL STANDARDS FOR SURFACE DRAINAGE.</h3>
        Drainage from paved surfaces may, after suitable treatment, be discharged to available watercourses or to
        adequate soakage areas on site.
        For rural houses, existing roadside drainage shall be maintained by the incorporation of a suitably sized
        drainage pipe. In any event surface water shall not be permitted to flow on to the public road from the
        proposed development.
        <br/>
        <h3>DCSTANDARD 12: ASSIMILATION OF DEVELOPMENT INTO LANDSCAPE.</h3>
        All permissible buildings should avoid locally elevated locations and should be located on mid slopes or lower
        slopes of rising ground. Development should seek to preserve traditional field patterns and established hedgerow
        and woodland.
        Any permissible housing development shall have regard to The Single Rural House Guidelines .
        <br/>
        <h3>DCSTANDARD 15: SITE SIZE FOR SINGLE HOUSES USING INDIVIDUAL ON-SITE WASTE WATER TREATMENT SYSTEMS.</h3>
        A minimum site size of 2000 sq. metres [1/2 acre] will be required for a single house so as to provide for
        adequate effluent treatment, parking, landscaping, open space and maintenance of rural amenity. For house sizes
        greater than 200 m2 site size shall be increased by 10 m2 for each m2 of house area over 200 m2. The
        requirements for site size for
        houses greater than 200m sq. will not apply to existing houses. Where derelict or semi-ruinous buildings are
        proposed to be developed these requirements will be relaxed subject to appropriate environmental and traffic
        standards being met.
        <br/>
        <h3>DCSTANDARD 16: STANDARDS FOR EFFLUENT TREATMENT FACILITIES.</h3>
        The suitability of the site for treatment of domestic effluent shall be determined, solely by and in accordance
        with the criteria set down in the E.P.A. Waste Water Treatment Manuals or any revision of this manual or any
        replacement of this manual. Each dwelling house shall be serviced by its own septic tank or treatment plant and
        shall not share this facility with any other dwelling other than in exceptional circumstances In the case of
        clustered housing schemes wastewater treatment plants shall be permitted provided that they are designed and
        built in accordance with EPA Treatment Manuals.
        For single houses the "EPAWastewater Treatment Manuals - Treatment Systems for Single Houses" shall apply. For
        larger developments the "EPAWastewater Treatment Manuals - Treatment Systems for small communities business,
        Leisure Centres and Hotels" shall apply.
        Certification will be required that septic tanks have been desludged in accordance with EPA Guidelines.
      </div>
    </div>
  </div>
</div>
</div>

